<div class="card">
    <div class="card-body">
        <h5>OrderSummary</h5><br>

        <div class="d-flex justify-content-between">
            <p>Item(@Order.LineItems.Count)</p>
            <p>@totalPrice.ToString("c")</p>
        </div>

        <div class="d-flex justify-content-between">
            <p>Estimated Taxes</p>
            <p>@(0.ToString("c"))</p>
        </div>

        <div class="d-flex justify-content-between">
            <p>Shipping & Handling</p>
            <p>@(0.ToString("c"))</p>
        </div>
        <hr />

        <div class="d-flex justify-content-between text-danger">
            <p>Total Price</p>
            <p>@totalPrice.ToString("c")</p>
        </div>

    </div>
    @if (isVisible)
    {
        <a href="/placeorder" class="btn btn-primary">Place Order</a>
    }

</div>


@code {
    private double totalPrice;

    [Parameter]
    public bool isVisible { get; set; } = true;

    [Parameter]
    public Order Order { get; set; }

    protected override void OnParametersSet()
    {
        totalPrice = 0;
        
        Order.LineItems.ForEach(x => totalPrice += x.Price * x.Quantity);
    }

}